body {
    font-family: Roboto, serif;
}

body, header, footer {
    padding: 0;
    margin: 0;
}
/* Let's focus on the header-top first! */
header {
    background-color: orange;
    margin: 0;
}

.navigation img {
    width: auto; 
    height: 100%;
    max-height: 50px;
    padding-left: 215px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
