body {
    font-family: "Roboto", sans-serif;
}

body, header, footer {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
/* Let's focus on the header-top first! */
header {
    background-color: orange;
    margin: 0;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
}

.navigation img {
    width: auto; 
    height: 100%;
    max-height: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* Time for the main-title section */
.title-container {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}




