body {
    font-family: "Roboto", sans-serif;
}

body, header, footer {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
/* Let's focus on the header-top first! */
header, footer{
    background-color: orange;
    margin: 0;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
}

.navigation img {
    width: auto; 
    height: 100%;
    max-height: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* Time for the main-title section */
.title-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.title-container img {
    width: 400px;
    height: 300px;

}
.main-title {
    display: inline-block;
    width: 500px;
    height: 400px;
    box-sizing: border-box;
}

.main-title h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900; 
    margin-bottom: 0px;
}

.main-title p {
    color: #E5E7EB;
    font-size: 18px;

}

.main-title a {
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 5px;

}

/* Time for the art-piece section */
.art-title {
    text-align: center;
    color: orange;
    font-size: 36px;
    font-weight: 900;
}

.art-container {
    display: flex;
    justify-content: center;
    gap: 52px; /* placeholder of space between the images, adjust it soon */
    margin-bottom: 100px;
}
.art-piece img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.art-piece .text {
    text-align: center;
    font-size: 16px;
    width: 250px;
}

 




